header {
    display: flex; /* Enable flexbox for the header */
    align-items: center; /* Vertically center items in the header */
    justify-content: space-between; /* Distribute space between logo/title and nav */
    background-color: #f0f0f0;
    padding: 20px;
    border-bottom: 5px solid blue;
}

#header-content {
    background-color: blue;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

nav {
    display: flex; /* Enable flexbox for the navigation */
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

#logo {
    max-height: 50px;
    margin-right: 20px;
}
